.gradient-45deg-purple-deep-orange
{
      background: #8e24aa;
      background: -webkit-linear-gradient(45deg, #8e24aa, #ff6e40) !important;
      background: -moz- oldlinear-gradient(45deg, #8e24aa, #ff6e40) !important;
      background:      -o-linear-gradient(45deg, #8e24aa, #ff6e40) !important;
      background:         linear-gradient(45deg, #8e24aa, #ff6e40) !important;
}
.gradient-45deg-purple-deep-orange.gradient-shadow
{
    -webkit-box-shadow: 0 6px 20px 0 rgba(255, 110, 64, .5) !important;
            box-shadow: 0 6px 20px 0 rgba(255, 110, 64, .5) !important;
}

/*for all pages*/
.coming-soon-img{
max-width:100%;
height:auto;
}

td,th{
	text-align:center!important;
}



.users-edit i,
.users-list-wrapper i,
.users-view i {
    vertical-align: middle;
}
.users-list-wrapper .users-list-filter .show-btn {
    padding-top: 43px !important;
}
.users-list-wrapper .users-list-table {
    overflow: hidden;
}
.users-list-wrapper .users-list-table .dataTables_filter label input {
    width: auto;
    height: auto;
    margin-left: 0.5rem;
}
.users-list-wrapper .users-list-table .dataTables_length label select {
    display: inline-block;
    width: auto;
    height: auto;
}
.users-list-wrapper .users-list-table .dataTable {
    border-collapse: collapse;
}
.users-list-wrapper .users-list-table .dataTable th {
    width: auto !important;
    padding: 19px 15px;
    border-bottom: 1px solid #e0e0e0;
}
.users-list-wrapper .users-list-table .dataTable tbody td {
    padding: 0.8rem;
}
.users-list-wrapper .users-list-table .dataTables_paginate .paginate_button {
    margin-top: 0.25rem;
    padding: 0.25em 0.65em;
}
.users-list-wrapper .users-list-table .dataTables_paginate .paginate_button.current,
.users-list-wrapper .users-list-table .dataTables_paginate .paginate_button:hover {
    color: #fff !important;
    border: 1px solid #3f51b5;
    border-radius: 4px;
    background: #3f51b5;
    box-shadow: 0 0 8px 0 #3f51b5;
}
.users-view .media .avatar {
    margin-right: 0.6rem;
}
.users-view .media .users-view-name {
    font-size: 1.47rem;
}
.users-view .quick-action-btns a {
    margin-left: 1rem;
}
.users-view .users-view-timeline {
    padding: 2rem;
}
.users-view .users-view-timeline h6 span {
    font-size: 2rem;
    vertical-align: middle;
}
.users-view .striped td:first-child {
    width: 140px;
}
.users-edit .tabs .tab a {
    text-overflow: clip;
    color: rgba(63, 81, 181, .7);
}

.tabs .tab a:hover, .tabs .tab a.active {
    color: #3f51b5;
    background-color: transparent;
}

.tabs .indicator{
background-color:#3f51b5 !important;
}

.users-edit .tabs .tab a span {
    position: relative;
    top: 2px;
}
.users-edit .tabs .tab a.active {
    border-radius: 4px;
    background-color: #e8eaf6;
}
.users-edit .user-edit-btns a,
.users-edit form button[type="submit"] {
    margin-right: 1rem;
}

.users-edit h5.mb-0 {
    text-overflow: clip !important;
}

@media (min-width: 993px) and (max-width: 1099px){

.am12 {
width:100% !important;
}

.am4 {
width:32.5% !important;
}

.am5 {
width:35% !important;
}


}

@media (max-width: 600px) {
    .users-view-timeline h6 {
        text-align: center;
    }
    .users-view .media {
        margin-bottom: 0.5rem;
    }
    .users-view .media .media-heading {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
    .users-view .media .media-heading .users-view-name {
        font-size: 1.2rem;
    }
    .users-view .media .media-heading .users-view-username {
        font-size: 0.8rem;
    }
}

@media (min-width: 1000px) {
    #modal_password{
         width:40% !important;
    }

}

@media (min-width: 1500px) {
    #modal_password{
         width:30% !important;
    }

}

#modal_password .modal-close{
margin-right:9px;
}

.datepicker-date-display{
background-color: #3f51b5 !important;
}

.datepicker-cancel, .datepicker-clear, .datepicker-today, .datepicker-done {
color: #3f51b5 !important;
}

.datepicker-table td.is-today {
color:#3f51b5 !important;
}

.datepicker-table td.is-selected {
background-color: #3f51b5 !important;
color:#fff !important;
}





  /* label color */
   .input-field label {
     color: #37474f !important;
   }
   /* label focus color */
   .input-field input:focus + label {
     color: #3f51b5 !important;
   }
   /* label underline focus color */
   .input-field input:focus {
     border-bottom: 1px solid #3f51b5 !important;
     box-shadow: 0 1px 0 0 #3f51b5 !important;
   }
   /* valid color */
   .input-field input.valid {
     border-bottom: 1px solid #3f51b5 !important;
     box-shadow: 0 1px 0 0 #3f51b5 !important;
   }
   /* invalid color */
   .input-field input.invalid {
     border-bottom: 1px solid #f44336 !important;
     box-shadow: 0 1px 0 0 #f44336 !important;
   }
   /* icon prefix focus color */
   .input-field .prefix.active {
     color: #3f51b5 !important;
   }

